@import '../variables.css';

html {
  color: #222;
  font-weight: 100;
  font-size: 1em; /* ~16px; */
  font-family: var(--font-family-base);
  line-height: 1.375; /* ~22px */
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

.root {
  width: 100%;
}