@import '../variables.css';

html {
  color: #222;
  font-weight: 100;
  font-size: 1em; /* ~16px; */
  font-family: var(--font-family-base);
  line-height: 1.375; /* ~22px */
}

h1 {
  margin-left: 200px !important;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

.root {
  width: 100%;
}

.article-container {
  display: flex;
  flex-direction: row;
}

.tile-top-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.tile-bottom-container {
  margin-bottom: 200px;
}